.num-tile {
    width: 100%;
    height: 100%;
    font-size: 5rem;
}

@media screen and (max-width: 1200px){
    .num-tile {
        font-size: 4.25rem;
    }
}
@media screen and (max-width: 600px){
    .num-tile {
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 530px){
    .num-tile {
        font-size: 4.25rem;
    }
}
@media screen and (max-width: 500px){
    .num-tile {
        font-size: 4rem;
    }
}
@media screen and (max-width: 450px){
    .num-tile {
        font-size: 3.75rem;
    }
}
@media screen and (max-width: 420px){
    .num-tile {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 400px){
    .num-tile {
        font-size: 3.25rem;
    }
}
@media screen and (max-width: 375px){
    .num-tile {
        font-size: 3rem;
    }
}
@media screen and (max-width: 350px){
    .num-tile {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 325px){
    .num-tile {
        font-size: 2rem;
    }
}
@media screen and (max-width: 300px){
    .num-tile {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 265px){
    .num-tile {
        font-size: 1rem;
    }
}
@media screen and (max-width: 240px){
    .num-tile {
        font-size: .5rem;
    }
}
